<ngx-ui-loader></ngx-ui-loader>

<div class="breadcrumb">
  <li class="breadcrumb-menu">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>
      <button class="btn" (click)="nuevo()"><i class="fa fa-file"></i></button>
      <button class="btn" (click)="addList()"><i class="fa fa-play"></i></button>
      <button class="btn" (click)="eliminar()"><i class="fa fa-trash-o"></i></button>
      <button class="btn" (click)="ExportTOExcel()"><i class="fa fa-file-excel-o"></i></button>     
    </div>
  </li>
</div>
<div class="card-body">
  <div class="mat-elevation-z8" #TABLE>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" 
    #table class="mat-elevation-z8 table table-striped table-sm">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">    
          <!--/.row-->
            <div class="col-sm-12">
              <div>
                <div class="text-uppercase text-muted">
                  <div>
                    <span class="badge badge-pill badge-success">{{element.cod_cli}}</span>
                  </div>
                  <div>
                    <span style="font-weight:bold">{{element.nombre}}</span>
                  </div>
                </div>
              </div>
              <div>
                <div class="text-uppercase text-muted">
                  <div>
                      <span class="badge badge-danger">{{element.cod_prod}}</span>
                  </div>
                  <div>
                    <span style="font-weight:bold">{{element.descrip}}</span>
                  </div>
                </div>
              </div>  
              <div>
                <div class="text text-muted">
                  <div class="row">
                    <div class="col-sm-6">
                        <span>{{element.cantidad | number:'1.0-0'}} $ x {{element.precio | number:'1.0-0'}} u.</span>
                    </div>
                    <div class="col-sm-6">
                      <span class="float-right" style="font-weight:bold">Total: {{element.cantidad * element.precio | number:'1.0-0'}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="text-uppercase text-muted">
                  <span><p>{{element.iobserv}}</p></span>          
                </div>
              </div>
            </div><!--/.col-->
          </td>
       </ng-container>
            
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
    </table>
    <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div *ngIf="showModal">
  <div _ngcontent-bix-c1="" aria-hidden="false" aria-labelledby="myModalLabel" bsmodal="" 
  class="modal fade in show" role="dialog" tabindex="-99999999999" aria-modal="true" 
  style="display: block; overflow-y: scroll;">
      <div class="modal-dialog" >
        <div class="modal-content modal-info" role="document">
          <div class="modal-header">
            <h5 class="modal-title">Editar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="simpleForm"  novalidate (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <mat-form-field >
                      <input type="text" panelWidth ="1000" displayWidth ="1000" class="form-control" [(ngModel)]="CliAbonModel.cod_cli" 
                      placeholder="Seleccione cliente" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
                      formControlName="cod_cli"  
                      [ngClass]="{ 'is-invalid': submitted && f.cod_cli.errors , 
                      'is-valid': f.cod_cli.touched && !f.cod_cli.errors }"/>
                      <mat-autocomplete #auto="matAutocomplete" 
                      (optionSelected)='getNombre($event.option.value)' >
                        <mat-option *ngFor="let tabCliSearch of filteredClis | async" 
                        [value]="tabCliSearch.cod_cli" >
                          <span>{{tabCliSearch.cod_cli}}</span> |
                            <small>{{tabCliSearch.nombre}}</small> |
                            (<span>{{tabCliSearch.id_cli}}</span>) 
                            {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>      
              </div>           

              <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                      <label for="cantidad">Nombre</label>
                      <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="CliAbonModel.nombre" 
                      formControlName="nombre"
                      disabled />
                    </div>
                  </div>    
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="id_prod">Producto</label>
                    <select  name="id_prod" class="form-control"  
                      formControlName="id_prod" required [(ngModel)]="CliAbonModel.id_prod" 
                      [ngClass]="{ 'is-invalid': submitted && f.id_prod.errors , 
                      'is-valid': f.id_prod.touched && !f.id_prod.errors }">
                      <option value=''>-Seleccione Producto-</option>
                      <option *ngFor="let prod of ProductoList" [ngValue]="prod.id_prod">
                        {{prod.descrip}}
                      </option>
                    </select>            
                    <div *ngIf="submitted && f['id_prod'].errors">
                      <div *ngIf="f['id_prod'].errors.required">Ingrese producto</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="text" class="form-control" name="cantidad" id="cantidad" [(ngModel)]="CliAbonModel.cantidad" 
                    formControlName="cantidad"
                    required
                    autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors, 'is-valid': f.cantidad.touched && !f.cantidad.errors }" />
                    <div *ngIf="submitted && f['cantidad'].errors" class="invalid-feedback">
                      <div *ngIf="f['cantidad'].errors.required">Ingrese cantidad</div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="text" class="form-control" name="precio" id="precio" [(ngModel)]="CliAbonModel.precio" 
                    formControlName="precio"
                    required
                    autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.precio.errors, 'is-valid': f.precio.touched && !f.precio.errors }" />
                    <div *ngIf="submitted && f['precio'].errors" class="invalid-feedback">
                      <div *ngIf="f['precio'].errors.required">Ingrese precio</div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="iobserv">Observacion</label>
                    <input type="text" class="form-control" name="iobserv" id="iobserv" [(ngModel)]="CliAbonModel.iobserv" 
                    formControlName="iobserv"
                    >
                  </div>
                </div>
              </div>
            </form>          
          </div>
        <div class="modal-footer">
            <button type="button" class="btn" (click)="onSubmit()">
              <span class="btn btn-success">Guardar</span>
            </button>
            <button type="button" class="btn" (click)="closeModal()">
              <span class="btn btn-danger">Cancelar</span>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Check validations
<div class="col-md-6">
  <div class="card bg-secondary" [ngClass]="{ 'bg-info' : simpleForm.valid }">
    <div class="card-body">
      <pre>Value: <code>{{ simpleForm.value | json }}</code></pre>
      <p>
        Status: {{ simpleForm.status }}
      </p>
      <p>
        Errors: {{ simpleForm.errors | json }}
      </p>
    </div>
  </div>
</div>
-->
