<ngx-ui-loader></ngx-ui-loader>

<div class="breadcrumb">
  <li class="breadcrumb-menu">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>
      <button tooltip="Nuevo" class="btn" place (click)="nuevo()"><i class="fa fa-file"></i></button>
      <button tooltip="Eliminar" class="btn" (click)="eliminar()"><i class="fa fa-trash-o"></i></button>
      <button tooltip="Exportal a Excel" class="btn" (click)="ExportTOExcel()"><i
          class="fa fa-file-excel-o"></i></button>
    </div>
  </li>
</div>
<div class="card-body">

  <div class="mat-elevation-z8" #TABLE>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" #table
      class="mat-elevation-z8 table table-striped table-sm">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <span class="float-left">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </span>
        </td>
      </ng-container>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="nombre">

        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <div class="col-sm-12">
            <div>
              <span class="badge badge-success ">{{element.cod_cli}}</span>
            </div>
            <div>
                <span style="font-weight:bold">{{element.nombre}}</span>
            </div>
            <p><span>Documento </span><span style="font-weight:bold">{{element.nro_doc}} </span></p>
          </div>
        </td>
      </ng-container> nombre Column -->

      <!-- nro_doc Column
      <ng-container matColumnDef="nro_doc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.nro_doc}} </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
    </table>
    <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div>
      <!--  <form #f="ngForm"  novalidate (ngSubmit)="onSubmit()" class="needs-validation">-->
      <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Editando</h4>
            <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="id_cli">Id</label>
                      <input type="text" class="form-control" name="id_cli" id="id_cli" [(ngModel)]="ClienteModel.id_cli" >
                    </div>
                  </div>
                </div>
                -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="cod_cli">Codigo</label>
                  <input type="text" class="form-control" name="cod_cli" id="cod_cli" [(ngModel)]="ClienteModel.cod_cli"
                    placeholder="Codigo de cliente" formControlName="cod_cli" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.cod_cli.errors, 'is-valid': f.nombre.touched && !f.cod_cli.errors }" />
                  <div *ngIf="submitted && f['cod_cli'].errors" class="invalid-feedback">
                    <div *ngIf="f['cod_cli'].errors.required">Ingrese nombre</div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="ClienteModel.nombre"
                    placeholder="nombre" formControlName="nombre" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.nombre.errors, 'is-valid': f.nombre.touched && !f.nombre.errors }" />
                  <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
                    <div *ngIf="f['nombre'].errors.required">Ingrese nombre</div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="nombre">Documento</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="ClienteModel.nro_doc"
                    placeholder="Nro. de Documento" formControlName="nro_doc" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.nro_doc.errors, 'is-valid': f.nro_doc.touched && !f.nro_doc.errors }" />
                  <div *ngIf="submitted && f['nro_doc'].errors" class="invalid-feedback">
                    <div *ngIf="f['nro_doc'].errors.required">Ingrese Documento</div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn">
                <span class="btn btn-success">Guardar</span>
            </button>
            <button type="button" class="btn" (click)="infoModal.hide()">
                <span class="btn btn-danger">Cancelar</span>
            </button>
          </div>
        </div><!-- /.modal-content -->
      </form>
    </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Check validations
<div class="col-md-6">
  <div class="card bg-secondary" [ngClass]="{ 'bg-info' : simpleForm.valid }">
    <div class="card-body">
      <pre>Value: <code>{{ simpleForm.value | json }}</code></pre>
      <p>
        Status: {{ simpleForm.status }}
      </p>
      <p>
        Errors: {{ simpleForm.errors | json }}
      </p>
    </div>
  </div>
</div>
-->
